* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "sidebar"
    "main";
}
p {
  display: inline;
}
h1 span {
  font-weight: 300;
}

header {
  grid-area: header;
  background-color: #888ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.logo {
  flex: 1;
}
header img {
  width: 30px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}
.vertical-line {
  height: 40px;
  border-right: 2px solid #7a7fb8;
  margin-left: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: sidebar;
  background-color: #585c9a;
  padding: 20px;
}
.navigation img {
  height: 30px;
  margin: 0 15px;
}

main {
  display: grid;
  grid-area: main;
  background-color: white;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  color: grey;
}
.main-header-search {
  background-color: rgb(222, 222, 222);
  border-style: none none solid solid;
  border-radius: 4px;
  border-color: rgb(222, 222, 222);
  flex: 1;
}
.main-header-search input {
  border: 1px solid rgb(255, 255, 255);
  border-style: solid solid none none;
  border-radius: 4px;
  height: 50px;
}

.traffic {
  background-color: darkturquoise;
}
.daily {
  background-color: deeppink;
  /* display: none; */
}
.mobile {
  background-color: greenyellow;
  /* display: none; */
}
.social-container {
  background-color: dodgerblue;
  /* display: none; */
}
.members {
  background-color: lightseagreen;
  /* display: none; */
}
.activity {
  background-color: lightskyblue;
  /* display: none; */
}
.message {
  background-color: mediumslateblue;
  /* display: none; */
}
.settings {
  background-color: orangered;
  /* display: none; */
}

.widget-container-full,
.widget-container-half {
  position: relative;
}

.social-image {
  height: 60px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .main-header,
  .traffic,
  .socials {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .widget-container-full {
    width: 90vh;
  }
  .widget-container-half {
    width: 45vh;
  }
}
